body {
  background-color: #fffdef;
  font-family: Inter, sans-serif;
  color: #332a4f;
  font-size: 1vw;
  line-height: 1;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'Dirtyline studio harmond Condensed', sans-serif;
  font-size: 7.25em;
  line-height: 110%;
  font-weight: 400;
}

h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: 'Dirtyline studio harmond Condensed', sans-serif;
  font-size: 7em;
  line-height: 110%;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: 'Dirtyline studio harmond Condensed', sans-serif;
  font-size: 4.5em;
  line-height: 110%;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: 'Dirtyline studio harmond Condensed', sans-serif;
  font-size: 2.75em;
  line-height: 110%;
  font-weight: 400;
}

h5 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: 'Dirtyline studio harmond Condensed', sans-serif;
  font-size: 2.25em;
  line-height: 120%;
  font-weight: 400;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Dirtyline studio harmond Condensed', sans-serif;
  font-size: 2em;
  line-height: 120%;
  font-weight: 400;
}

p {
  margin-bottom: 16px;
  color: #5c5469;
  font-size: 1.25em;
  line-height: 160%;
}

a {
  color: #332a4f;
  text-decoration: underline;
}

a:hover {
  color: #5c5469;
}

.navigation {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 90px;
  background-color: transparent;
}

.nav-container {
  height: 100%;
  max-width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand {
  margin-top: 15px;
}

.social-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  margin-top: 15px;
  margin-left: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-back-bcg {
  position: absolute;
  left: 2px;
  top: 2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid #332a4f;
  border-radius: 50px;
  background-color: #a093ca;
}

.social-top-bcg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border: 1px solid #332a4f;
  border-radius: 50px;
  background-color: #faf2ff;
}

.hero-split-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  min-height: 80vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 80px;
  padding-right: 5em;
  padding-left: 5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #faf2ff;
}

.hero-split-content {
  position: relative;
  padding-bottom: 100px;
}

.all-caps {
  color: #5c5469;
  font-size: 1.25em;
  line-height: 28px;
  text-transform: uppercase;
}

.button-arrow {
  position: relative;
  margin-right: 5px;
  margin-left: 16px;
}

.button-back-bcg {
  position: absolute;
  left: 4px;
  top: 4px;
  right: 0px;
  bottom: -4px;
  border: 1px solid #332a4f;
  border-radius: 50px;
  background-color: #a093ca;
}

.hero-split-right-column {
  position: relative;
  overflow: hidden;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.button-top-bcg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px solid #332a4f;
  border-radius: 50px;
  background-color: #f7fff2;
  text-align: center;
}

.split-image {
  width: 100%;
  height: 100%;
  border: 1px solid #332a4f;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.split-image.hero-image {
  height: 90%;
  border-style: solid;
  border-radius: 400px;
  background-image: url('../images/DSCF9921-2.jpg');
  background-position: 40% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  box-shadow: 1px 1px 0 0 #000, 1px 1px 3px 0 #000;
  opacity: 1;
}

.split-image.bundle-image {
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 40px;
  background-color: #faf2ff;
  background-image: url('../images/IMG_9189-1-4.jpg');
}

.button-text {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}

.button {
  position: relative;
  left: auto;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  color: #332a4f;
  font-size: 1.25em;
  text-decoration: none;
  text-transform: uppercase;
  -o-object-fit: fill;
  object-fit: fill;
}

.button.big {
  min-width: 400px;
}

.button-wrapper {
  position: relative;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.hero-split-left-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-shape {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
}

.scrollable-title-wrapper {
  overflow: hidden;
  width: 100%;
  padding-bottom: 29px;
}

.content-centered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #332a4f;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5em;
  padding-left: 5em;
  background-color: #faf2ff;
  color: #332a4f;
}

.container.no-padding-mobile {
  background-color: #faf2ff;
}

.container.no-padding {
  padding-right: 0vw;
  padding-left: 0vw;
}

.scrollable-title-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.section {
  padding-top: 0px;
  padding-bottom: 69px;
  background-color: #faf2ff;
}

.section.padding-top-80 {
  padding-top: 80px;
}

.section.padding-top-80.bg-primary-1 {
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #f7fff2;
}

.section.no-padding-bottom {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #f2feff;
  color: #a093ca;
}

.margin-right-96 {
  margin-right: 96px;
  margin-bottom: 0px;
  color: #332a4f;
  font-size: 3.5em;
}

.alternative-title-wrapper {
  position: relative;
  top: -100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #332a4f;
  border-radius: 32px;
  background-color: #f2feff;
  text-align: center;
}

.grid-thirds {
  grid-column-gap: 32px;
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: #332a4f #332a4f #332a4f #332a4f;
  color: #332a4f;
  font-size: 1.25em;
  text-decoration: none;
}

.image-cover {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  border-radius: 0px;
  font-size: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.content-inner-padding {
  position: relative;
  padding: 72px 64px 96px;
  border-style: solid;
  border-width: 2px;
  border-color: #332a4f;
  border-radius: 32px;
}

.grid-image-wrapper {
  overflow: hidden;
  height: 20em;
  border-style: solid;
  border-width: 1px;
  border-color: #332a4f #332a4f #332a4f #332a4f;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.grid-wrapper.content-centered {
  color: #faf2ff;
}

.alternative-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  color: #332a4f;
  font-size: 1.7em;
  font-weight: 600;
  text-transform: uppercase;
}

.grid-content-wrapper {
  padding: 16px 16px 8px;
  border-right: 1px solid #332a4f;
  border-left: 1px solid #332a4f;
  background-color: #fff3f2;
}

.marquee-wrapper {
  position: relative;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 64px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 2px solid #ff715b;
  border-bottom: 2px solid #ff715b;
  background-color: #faf2ff;
}

.title-wrapper {
  padding-bottom: 10px;
}

.text-centered {
  text-align: center;
}

.width-550 {
  width: 70%;
}

.width-550.centered {
  margin: 40px auto;
  font-family: Inter, sans-serif;
  color: #332a4f;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
}

.testimonial-grid {
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
  grid-row-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.no-padding-top {
  padding-top: 0px;
}

.testimonial-card {
  padding: 40px 56px;
  border-style: solid;
  border-width: 2px;
  border-color: #332a4f;
  border-radius: 32px;
  text-align: center;
}

.testimonial-content {
  padding-top: 16px;
}

.fab-button {
  position: fixed;
  left: auto;
  top: auto;
  right: 32px;
  bottom: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ff715b;
  color: #fffdef;
  text-align: center;
  text-decoration: none;
}

.fab-button:hover {
  color: #fffdef;
}

.light {
  color: #fffdef;
}

.image-relative {
  position: relative;
  max-height: 90px;
  max-width: 80%;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-sixths {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ig-post {
  position: relative;
  border-style: solid solid solid none;
  border-width: 1px;
  border-color: #000 #000 #000 #332a4f;
}

.ig-post.first {
  border-left-style: solid;
}

.width-50 {
  width: 50%;
}

.width-50.centered {
  margin-right: auto;
  margin-left: auto;
}

.footer-section {
  padding: 100px 2em;
  background-color: #f7fff2;
}

.footer-grid {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer-copyright-wrapper {
  margin-top: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px none #332a4f;
  text-align: center;
}

.footer-menu-wrapper {
  text-align: center;
}

.footer-logo.w--current {
  text-align: center;
}

.footer-link {
  display: block;
  margin-bottom: 4px;
  font-family: 'Great Vibes', cursive;
  font-size: 2.5em;
  line-height: 160%;
  text-align: center;
  text-decoration: none;
}

.small-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  font-size: 1em;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  text-transform: none;
}

.social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-right: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.styleguide-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 96px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.styleguide-wrapper.margin-bottom-56 {
  margin-bottom: 56px;
}

.inner-spacing {
  padding-right: 5em;
  padding-left: 5em;
}

.number-bullet {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #332a4f;
  border-radius: 50%;
}

.no-margin-bottom {
  margin-bottom: 0px;
  color: #332a4f;
}

.popup-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 75%;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.popup-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(23, 19, 37, 0.58);
}

.popup-image-wrapper {
  overflow: hidden;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #332a4f;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
}

.popup-form-wrapper {
  width: 50%;
  padding: 40px;
  border-top: 1px solid #332a4f;
  border-right: 1px solid #332a4f;
  border-bottom: 1px solid #332a4f;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: #fffdef;
  text-align: center;
}

.input-field {
  height: 56px;
  margin-bottom: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff715b;
  border-radius: 32px;
  background-color: #fffdef;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-family: 'Dirtyline studio harmond Condensed', sans-serif;
  color: #332a4f;
  font-size: 2.75em;
  text-align: center;
}

.input-field:focus {
  border-color: #ff715b;
  background-color: #faf2ff;
}

.input-field::-webkit-input-placeholder {
  color: rgba(51, 42, 79, 0.5);
}

.input-field:-ms-input-placeholder {
  color: rgba(51, 42, 79, 0.5);
}

.input-field::-ms-input-placeholder {
  color: rgba(51, 42, 79, 0.5);
}

.input-field::placeholder {
  color: rgba(51, 42, 79, 0.5);
}

.submit-button {
  width: 100%;
  margin-bottom: 8px;
  padding: 16px 32px;
  border-radius: 32px;
  background-color: #ff715b;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 1.25em;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: rgba(255, 113, 91, 0.8);
}

.popup-close {
  position: absolute;
  left: auto;
  top: -24px;
  right: -24px;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #332a4f;
  border-radius: 50%;
  background-color: #fffdef;
  cursor: pointer;
}

.marquee-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 64px;
  min-width: 50%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.25em;
  text-transform: uppercase;
  white-space: nowrap;
}

.marquee-text {
  width: 50%;
  padding: 8px 32px 8px 0px;
  background-image: url('../images/marquee-divider.svg');
  background-position: 100% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #faf2ff;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 640px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.error-message {
  background-color: rgba(255, 113, 91, 0.2);
  font-size: 1.25em;
}

.styleguide-left-column {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  width: 25%;
}

.styleguide-right-column {
  width: 75%;
}

.grid-images {
  grid-row-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.styleguide-image-wrapper {
  height: 240px;
}

.styleguide-color {
  height: 240px;
}

.styleguide-color.bg-light {
  background-color: #fffdef;
}

.styleguide-color.primary-1 {
  background-color: #faf2ff;
}

.styleguide-color.primary-2 {
  background-color: #a093ca;
}

.styleguide-color.font-dark {
  background-color: #332a4f;
}

.styleguide-color.font-light {
  background-color: #5c5469;
}

.styleguide-color.primary-3 {
  background-color: #ff715b;
}

.styleguide-color-info {
  padding-top: 16px;
}

.marquee-section {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 200%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.padding-top-80 {
  padding-top: 80px;
}

.bg-primary-1 {
  background-color: #faf2ff;
}

.loader-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #faf2ff;
}

.loader-wrapper.bg-light {
  background-color: #fffdef;
}

.loader-content {
  text-align: center;
}

.loader-title-row {
  overflow: hidden;
}

.cursive {
  font-style: italic;
}

.split-section-image-half {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 50%;
  height: 100vh;
  background-color: #faf2ff;
}

.split-section-content-half {
  width: 50%;
  padding: 96px 5em 96px 2em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #faf2ff;
}

.split-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.card-bundle {
  width: 48%;
  margin-bottom: 72px;
}

.card-bundle.full-width {
  width: 100%;
}

.card-bundle.full-width.no-margin-bottom {
  margin-bottom: 0px;
  padding-right: 220px;
  padding-left: 220px;
}

.card-bundle.margin-top {
  margin-top: 144px;
}

.card-bundle-image-wrapper {
  overflow: hidden;
  height: 15em;
  border-style: solid;
  border-width: 1px;
  border-color: #332a4f #332a4f #332a4f #332a4f;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.card-bundle-image-wrapper.full-width {
  height: 20em;
}

.card-bundle-content-wrapper {
  padding: 16px 16px 8px;
  border-right: 1px solid #332a4f;
  border-bottom: 1px solid #332a4f;
  border-left: 1px solid #332a4f;
  background-color: #fffdef;
}

.margin-top-144 {
  position: relative;
  margin-top: 140px;
  margin-right: 220px;
  margin-left: 220px;
  padding-right: 0px;
  padding-left: 0px;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero-section {
  padding-top: 140px;
  padding-bottom: 100px;
  background-color: #faf2ff;
}

.grid-link {
  text-decoration: none;
}

.ig-hover-wrapper {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 253, 239, 0.1);
}

.ig-marquee-wrapper {
  overflow: hidden;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #332a4f;
  border-bottom: 1px solid #332a4f;
  background-color: #faf2ff;
}

.ig-marquee-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ig-marquee-content {
  width: 50%;
  text-align: center;
}

.body {
  clear: none;
  background-color: #f7fff2;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.heading {
  color: #332a4f;
}

.heading-2 {
  color: #332a4f;
}

.heading-3 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 20px 0px;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 1px none #000;
  border-radius: 20px;
  font-family: 'Changa One', Impact, sans-serif;
  font-size: 7em;
  font-weight: 400;
  text-align: center;
  white-space: normal;
}

.heading-4 {
  position: static;
  left: auto;
  right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto 100px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  clear: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0px;
  font-size: 4em;
  text-align: center;
}

.heading-5 {
  color: #332a4f;
}

.heading-6 {
  color: #332a4f;
}

.heading-7 {
  color: #332a4f;
}

.heading-8 {
  color: #332a4f;
}

.body-2 {
  background-color: #faf2ff;
}

.div-block {
  background-color: #faf2ff;
}

.heading-9 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 4.5em;
  text-align: center;
}

.image {
  max-width: 80%;
  text-align: center;
}

.heading-10 {
  font-family: Inter, sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.heading-11 {
  font-family: Inter, sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.heading-12 {
  font-family: Inter, sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.heading-13 {
  font-family: Inter, sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.body-3 {
  margin-top: 140px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  border-radius: 100px;
  background-color: #faf2ff;
}

.heading-14 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Dirtyline studio harmond condensed', sans-serif;
  font-size: 5em;
  text-align: center;
}

.form-block {
  border-radius: 20px;
}

.text-field {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 20px;
  font-size: 1.7vw;
}

.text-field-2 {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-radius: 20px;
  font-size: 1.7vw;
}

.field-label {
  font-family: 'Great Vibes', cursive;
}

.field-label-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: 'Dirtyline studio harmond condensed', sans-serif;
  font-size: 2.2vw;
  font-weight: 400;
}

.field-label-3 {
  font-family: 'Great Vibes', cursive;
  font-size: 5vw;
}

.field-label-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: 'Dirtyline studio harmond condensed', sans-serif;
  font-size: 2.2vw;
  font-weight: 400;
  text-align: left;
}

.submit-button-2 {
  margin-top: 40px;
  margin-right: 40px;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #332a4f;
  font-family: 'Great Vibes', cursive;
  font-size: 3vw;
  text-align: center;
}

.form {
  margin-bottom: 40px;
  padding: 140px 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #000 #000 #000 #332a4f;
  border-radius: 20px;
  background-color: #f2feff;
}

.text-block {
  font-family: 'Great Vibes', cursive;
  font-size: 5vw;
}

.success-message {
  padding: 40px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #f7fff2;
}

.error-message-2 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.text-block-2 {
  font-family: 'Great Vibes', cursive;
  font-size: 3vw;
  text-align: center;
}

.section-2 {
  padding-bottom: 100px;
}

.link {
  display: block;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #faf2ff;
  font-family: 'Dirtyline studio harmond Condensed', sans-serif;
  font-size: 1.8vw;
  text-align: center;
  text-decoration: none;
}

.heading-15 {
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.textarea {
  border-radius: 20px;
}

.textarea-2 {
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 220px;
  border-radius: 20px;
  font-size: 1.7vw;
}

.heading-16 {
  font-family: 'Great Vibes', cursive;
  font-size: 6.5em;
}

.text-block-3 {
  font-size: 1.2vw;
  text-align: center;
}

.bold-text {
  font-family: 'Great Vibes', cursive;
  font-size: 2.6vw;
}

.field-label-5 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-17 {
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}

.link-2 {
  text-decoration: underline;
}

.section-3 {
  margin-bottom: 10px;
}

.field-label-6 {
  font-size: 2vw;
  text-align: center;
}

.section-4 {
  margin-top: 40px;
}

.button-2 {
  border-radius: 20px;
  background-color: #faf2ff;
  font-family: 'Dirtyline studio harmond condensed', sans-serif;
  text-align: center;
}

.text-block-5 {
  font-size: 1.3vw;
}

.text-block-6 {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Inter, sans-serif;
  font-size: 1.4vw;
  font-weight: 400;
  text-align: center;
}

.text-block-7 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
}

.bold-text-3 {
  font-weight: 600;
}

@media screen and (min-width: 1920px) {
  body {
    font-size: 16px;
  }

  .navigation {
    height: 100px;
  }

  .social-link {
    width: 80px;
    height: 80px;
  }

  .hero-split-wrapper {
    margin-top: 100px;
  }

  .hero-split-content {
    left: 0px;
    right: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    clear: none;
  }

  .hero-split-right-column {
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }

  .button.big {
    margin-right: auto;
    margin-left: auto;
  }

  .button-wrapper {
    left: auto;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .hero-split-left-column {
    margin: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .container.no-padding-mobile {
    padding-top: 20px;
  }

  .section {
    padding-bottom: 140px;
  }

  .section.padding-top-80.bg-primary-1 {
    background-color: #f7fff2;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }

  .section.no-padding-top {
    padding-bottom: 140px;
  }

  .section.no-padding-bottom {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .margin-right-96 {
    font-size: 4em;
  }

  .alternative-title-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .content-inner-padding {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .title-wrapper {
    padding-bottom: 0px;
  }

  .text-centered {
    padding-bottom: 10px;
  }

  .width-550.centered {
    margin-bottom: 40px;
    font-family: Inter, sans-serif;
    font-size: 1.7em;
    font-style: normal;
    font-weight: 400;
  }

  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f7fff2;
    color: #faf2ff;
    font-size: 24px;
    text-align: center;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .footer-link {
    color: #332a4f;
    font-size: 2em;
  }

  .small-text {
    position: relative;
    color: #332a4f;
    font-size: 0.9em;
  }

  .styleguide-color.bg-light {
    background-color: #fdefff;
  }

  .styleguide-color.primary-1 {
    background-color: #bfebe4;
  }

  .styleguide-color.primary-3 {
    background-color: #faf2ff;
  }

  .flex-horizontal {
    margin-bottom: 100px;
  }

  .card-bundle-content-wrapper {
    font-size: 1.2em;
  }

  .body {
    background-color: #faf2ff;
  }

  .heading-3 {
    bottom: auto;
    margin-top: 40px;
    margin-bottom: 140px;
    margin-left: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 11em;
  }

  .heading-4 {
    position: static;
    left: auto;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
    float: none;
    clear: none;
    font-size: 6.5em;
    text-align: center;
  }

  .heading-9 {
    margin-top: 140px;
    margin-bottom: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .heading-10 {
    font-size: 1.2em;
  }

  .heading-11 {
    font-size: 1.2em;
  }

  .heading-12 {
    font-size: 1.2em;
  }

  .heading-13 {
    font-size: 1.2em;
  }

  .heading-14 {
    margin-top: 40px;
    font-size: 6em;
  }

  .text-field {
    font-size: 1.1vw;
  }

  .text-field-2 {
    font-size: 1.1vw;
  }

  .field-label-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.7vw;
  }

  .field-label-4 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.7vw;
    text-align: left;
  }

  .link {
    font-size: 2vw;
  }

  .textarea-2 {
    padding-top: 20px;
    padding-bottom: 220px;
    font-size: 1.1vw;
  }

  .heading-16 {
    margin-bottom: 40px;
    font-family: 'Great Vibes', cursive;
    font-size: 7em;
  }

  .text-block-3 {
    position: static;
    padding-bottom: 40px;
    font-size: 25px;
    text-align: center;
  }

  .text-block-4 {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
  }

  .field-label-5 {
    padding-bottom: 10px;
    font-size: 1.7vw;
  }

  .container-2 {
    font-size: 13px;
    text-align: center;
  }

  .section-3 {
    margin-bottom: 40px;
  }

  .field-label-6 {
    font-size: 38px;
    text-align: center;
  }

  .section-4 {
    margin-top: 40px;
  }

  .text-block-5 {
    text-align: left;
  }

  .text-block-6 {
    font-size: 1.4vw;
  }

  .heading-18 {
    margin-top: 60px;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 92px;
  }

  h2 {
    font-size: 84px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .nav-container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .brand {
    padding-left: 0px;
  }

  .hero-split-wrapper {
    padding-top: 96px;
    padding-right: 24px;
    padding-left: 24px;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .hero-split-content {
    right: auto;
    margin-right: auto;
    margin-left: auto;
    padding: 56px 0px 11px;
  }

  .all-caps {
    font-size: 16px;
  }

  .hero-split-right-column {
    width: 100%;
    min-height: 60vh;
  }

  .button {
    font-size: 16px;
  }

  .button.big {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .button-wrapper {
    right: auto;
  }

  .hero-split-left-column {
    position: relative;
    width: 100%;
  }

  .container {
    padding-right: 24px;
    padding-left: 24px;
  }

  .section {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .section.no-padding-top {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .margin-right-96 {
    font-size: 2em;
  }

  .alternative-title-wrapper {
    top: -84px;
  }

  .grid-thirds {
    grid-column-gap: 8px;
  }

  .grid-cta {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }

  .content-inner-padding {
    padding: 56px 24px;
  }

  .grid-image-wrapper {
    height: 180px;
  }

  .alternative-title {
    font-size: 16px;
  }

  .grid-content-wrapper {
    padding-right: 8px;
    padding-left: 8px;
  }

  .width-550.centered {
    font-size: 1.1em;
  }

  .testimonial-grid {
    padding-right: 10%;
    padding-left: 10%;
  }

  .grid-sixths {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .width-50 {
    width: 80%;
  }

  .footer-section {
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .footer-link {
    font-size: 28px;
  }

  .small-text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
  }

  .inner-spacing {
    padding-right: 0em;
    padding-left: 0em;
  }

  .popup-wrapper {
    display: none;
  }

  .popup-content {
    max-width: 95%;
  }

  .popup-form-wrapper {
    padding-right: 24px;
    padding-left: 24px;
  }

  .input-field {
    font-size: 32px;
  }

  .submit-button {
    font-size: 16px;
  }

  .marquee-content {
    font-size: 16px;
  }

  .marquee-text {
    width: auto;
  }

  .error-message {
    font-size: 16px;
  }

  .split-section-content-half {
    padding-top: 56px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .flex-horizontal {
    margin-bottom: 20px;
  }

  .card-bundle-image-wrapper {
    height: 180px;
  }

  .card-bundle-image-wrapper.full-width {
    height: 220px;
  }

  .card-bundle-content-wrapper {
    padding-right: 8px;
    padding-left: 8px;
  }

  .hero-section {
    padding-top: 144px;
    padding-bottom: 56px;
  }

  .heading-4 {
    right: 13px;
  }

  .heading-9 {
    margin-bottom: 100px;
  }

  .heading-10 {
    font-size: 1.1em;
  }

  .heading-11 {
    font-size: 1.1em;
  }

  .heading-12 {
    font-size: 1.1em;
  }

  .heading-13 {
    font-size: 1.1em;
  }

  .heading-14 {
    font-size: 5em;
  }

  .text-field {
    font-size: 1.6vw;
  }

  .text-field-2 {
    font-size: 1.6vw;
  }

  .field-label-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4vw;
  }

  .field-label-4 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4vw;
    text-align: left;
  }

  .link {
    font-size: 2.6vw;
  }

  .textarea-2 {
    font-size: 1.6vw;
  }

  .text-block-3 {
    font-size: 2vw;
  }

  .bold-text {
    font-size: 3vw;
  }

  .field-label-6 {
    font-size: 3vw;
  }

  .text-block-5 {
    font-size: 2.3vw;
  }

  .bold-text-3 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 64px;
  }

  .nav-container {
    padding-right: 8px;
    padding-left: 8px;
  }

  .hero-split-wrapper {
    min-height: auto;
  }

  .hero-split-content {
    right: 124px;
  }

  .button-text {
    font-size: 0.7em;
  }

  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .button.big {
    min-width: 460px;
  }

  .button-wrapper {
    right: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-split-left-column {
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .margin-right-96 {
    font-size: 40px;
  }

  .alternative-title {
    font-size: 18px;
  }

  .width-550.centered {
    font-size: 1em;
  }

  .testimonial-grid {
    padding-right: 0%;
    padding-left: 0%;
  }

  .grid-sixths {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .width-50 {
    width: 100%;
  }

  .footer-section {
    font-size: 14px;
  }

  .footer-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .footer-link {
    font-size: 21px;
  }

  .styleguide-wrapper {
    margin-bottom: 56px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .popup-wrapper {
    padding-top: 24px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .popup-content {
    max-width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .popup-image-wrapper {
    width: 100%;
    height: 220px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 0px;
  }

  .popup-form-wrapper {
    width: 100%;
    padding: 32px 16px;
    border-left: 1px solid #332a4f;
    border-top-style: none;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 32px;
  }

  .popup-close {
    top: -16px;
    right: -8px;
  }

  .styleguide-left-column {
    position: relative;
    top: 0px;
    width: 100%;
    margin-bottom: 16px;
  }

  .styleguide-right-column {
    width: 100%;
  }

  .styleguide-image-wrapper {
    height: 180px;
  }

  .split-section-image-half {
    position: relative;
    width: 100%;
    height: 50vh;
  }

  .split-section-content-half {
    width: 100%;
  }

  .split-section {
    min-height: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .card-bundle {
    margin-bottom: 56px;
  }

  .card-bundle.margin-top {
    margin-top: 96px;
  }

  .margin-top-144 {
    margin-top: 96px;
  }

  .heading-3 {
    top: 54px;
    font-size: 8em;
  }

  .heading-4 {
    top: 57px;
    right: -76px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    float: none;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    font-size: 3.5em;
  }

  .heading-9 {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .heading-10 {
    font-size: 0.9em;
  }

  .heading-11 {
    font-size: 0.9em;
  }

  .heading-12 {
    font-size: 0.9em;
  }

  .heading-13 {
    font-size: 0.9em;
  }

  .body-3 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-14 {
    font-size: 5em;
  }

  .text-field {
    font-size: 2.1vw;
  }

  .text-field-2 {
    font-size: 2.1vw;
  }

  .link {
    position: relative;
    bottom: 41px;
    font-size: 4.5vw;
  }

  .textarea-2 {
    font-size: 2.1vw;
  }

  .bold-text {
    font-size: 6vw;
  }

  .field-label-6 {
    font-size: 4vw;
  }

  .text-block-6 {
    font-size: 2.7vw;
  }

  .bold-text-2 {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 60px;
  }

  .navigation {
    height: 59px;
  }

  .brand {
    width: 132px;
    margin-top: 8px;
  }

  .social-link {
    width: 35px;
    height: 35px;
    margin-top: 8px;
    margin-left: 16px;
    padding-right: 4px;
    padding-left: 4px;
  }

  .hero-split-wrapper {
    overflow: hidden;
    padding: 20px 16px 40px;
  }

  .hero-split-content {
    right: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 32px;
    padding-bottom: 40px;
  }

  .hero-split-right-column {
    position: relative;
    min-height: 50vh;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }

  .split-image.hero-image {
    margin-top: 40px;
    font-size: 10px;
  }

  .button-text {
    font-size: 0.8em;
  }

  .button {
    margin-right: 10px;
    padding-right: 54px;
  }

  .button.big {
    min-width: 100%;
    margin-top: 40px;
  }

  .button-wrapper {
    position: static;
    right: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    float: none;
    clear: none;
  }

  .hero-split-left-column {
    margin-top: -65px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-shape {
    width: 100px;
  }

  .scrollable-title-wrapper {
    position: static;
    padding-bottom: 40px;
  }

  .content-centered {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .container {
    position: relative;
    bottom: -32px;
    margin-bottom: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .container.no-padding-mobile {
    bottom: auto;
    margin-bottom: 60px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .section {
    position: relative;
    bottom: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .section.padding-top-80 {
    padding-top: 64px;
  }

  .section.no-padding-top {
    bottom: auto;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .section.no-padding-bottom {
    margin-bottom: 0px;
  }

  .margin-right-96 {
    margin-right: 48px;
    font-size: 30px;
  }

  .alternative-title-wrapper {
    top: -60px;
  }

  .grid-thirds {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .content-inner-padding {
    padding: 10px 16px 40px;
  }

  .alternative-title {
    padding-right: 3px;
    padding-left: 3px;
    font-size: 12px;
  }

  .title-wrapper {
    padding-bottom: 0px;
  }

  .text-centered {
    margin-bottom: 100px;
  }

  .width-550 {
    width: 100%;
  }

  .width-550.centered {
    font-size: 1em;
  }

  .testimonial-grid {
    grid-row-gap: 24px;
  }

  .no-padding-top {
    padding-top: 0px;
  }

  .testimonial-card {
    padding: 24px 16px;
  }

  .fab-button {
    right: 16px;
    bottom: 16px;
    width: 100px;
    height: 100px;
  }

  .width-50 {
    width: 100%;
  }

  .footer-section {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  .footer-grid {
    padding-top: 62px;
  }

  .footer-copyright-wrapper {
    padding-top: 0px;
  }

  .footer-link {
    margin-bottom: 6px;
    font-size: 22px;
  }

  .small-text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 10px;
    text-align: center;
  }

  .input-field {
    margin-bottom: 16px;
  }

  .grid-images {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .loader-content {
    width: 100%;
  }

  .split-section-content-half {
    padding: 32px 16px 64px;
  }

  .flex-horizontal {
    padding-bottom: 60px;
  }

  .card-bundle {
    width: 100%;
    margin-bottom: 32px;
  }

  .card-bundle.margin-top {
    margin-top: 0px;
  }

  .card-bundle-content-wrapper {
    margin-bottom: 8px;
  }

  .margin-top-144 {
    margin-top: 56px;
  }

  .hero-section {
    padding-top: 96px;
    padding-bottom: 0px;
  }

  .heading-3 {
    position: static;
    left: 0px;
    right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 0px;
    min-width: 0px;
    margin: 100px auto 0px;
    padding: 100px 0px 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    border-style: none;
    font-size: 5em;
    line-height: 70%;
    text-align: left;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .heading-4 {
    position: static;
    left: auto;
    top: 6px;
    right: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-left: auto;
    float: none;
    clear: none;
    font-size: 2em;
  }

  .heading-9 {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 32px;
  }

  .heading-10 {
    font-size: 1em;
  }

  .heading-11 {
    font-size: 1em;
  }

  .heading-12 {
    font-size: 1em;
  }

  .heading-13 {
    font-size: 1em;
  }

  .heading-14 {
    margin-top: 40px;
    font-size: 3em;
  }

  .form-block {
    position: relative;
  }

  .text-field {
    font-size: 12px;
  }

  .text-field-2 {
    padding-bottom: 40px;
    font-size: 12px;
  }

  .field-label-2 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 4vw;
  }

  .field-label-4 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 4vw;
    text-align: left;
  }

  .submit-button-2 {
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    font-size: 6vw;
  }

  .form {
    margin-left: 0px;
    padding-left: 60px;
  }

  .link {
    display: block;
    font-size: 5.5vw;
  }

  .heading-15 {
    font-size: 0.7em;
  }

  .textarea {
    font-size: 9px;
  }

  .textarea-2 {
    font-size: 12px;
  }

  .heading-16 {
    margin-bottom: 40px;
    font-size: 42px;
  }

  .text-block-3 {
    font-size: 4vw;
  }

  .text-block-4 {
    margin-bottom: 40px;
  }

  .bold-text {
    font-size: 7vw;
  }

  .body-4 {
    clear: none;
    background-color: #faf2ff;
  }

  .heading-17 {
    font-size: 1.2em;
  }

  .field-label-6 {
    margin: auto;
    font-size: 6vw;
    text-align: center;
  }

  .text-block-5 {
    font-size: 3.5vw;
  }

  .text-block-6 {
    font-size: 4vw;
  }

  .heading-18 {
    margin-bottom: 40px;
  }

  .bold-text-2 {
    font-size: 1.2em;
  }

  .bold-text-3 {
    font-size: 6vw;
  }
}

@font-face {
  font-family: 'Dirtyline studio harmond condensed';
  src: url('../fonts/Dirtyline-Studio---Harmond-Condensed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Dirtyline studio harmond Condensed';
  src: url('../fonts/Dirtyline-Studio---Harmond-ItalicCondensed.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}